<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>

    <title>{{title}}</title>
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <div class="searchForm">
            <input type="text" placeholder="Destination">
            <button>SEARCH</button>
        </div>

        <p id="msg1"></p>
        <p id="msg2"></p>
    </div>
        {{>footer}}
</body>
</html>